{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}




{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">借用系統</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" >Hello {{user.first_name}}<span class="sr-only">(current)</span></a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0" action="accounts/logout">
      {% csrf_token %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登出</button>
    </form>
  </nav>
{% else %}
{% endif %}
{% endblock %}



{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">編號</th>
        <th scope="col">項目</th>
        <th scope="col">申請人</th>
        <th scope="col">核准</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{item.item_id}}</td>
            <td scope="row">{{item.item_name}}</td>
            <td scope="row">{{item.apply_user}}</td>
            {% if item.is_lent %}
            <td>已審核</td>
            {% else %}
            <form action="manage" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{item.id}}" name="col_id" />
              <input type="hidden" value="{{item.item_id}}" name="item_id" />
              <td scope="row">
                <select name="check">
                  <option>核准</option>
                  <option>拒絕</option>
                </select>
                </td>
              <td scope="row"><button type="submit">審核</button></td>
            </form>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% elif user.is_authenticated and not user.is_superuser %}
<h2>此功能僅開放管理員喔！</h2>
<a href="/">回首頁</a>
{% else %}
<h2>請先登入！</h2>
{% endif %}
{% endblock %}
