{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}




{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
{% include 'nav.html' %}
{% else %}
{% endif %}
{% endblock %}



{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">編號</th>
        <th scope="col">項目</th>
        <th scope="col">申請人</th>
        <th scope="col">核准</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{item.item_id}}</td>
            <td scope="row">{{item.item_name}}</td>
            <td scope="row">{{item.apply_user}}</td>
            {% if item.is_lent %}
            <td>已審核</td>
            {% else %}
            <form action="manage" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{item.item_id}}" name="item_id" />
              <td scope="row">
                <select name="check">
                  <option>核准</option>
                  <option>拒絕</option>
                </select>
                </td>
              <td scope="row"><button type="submit">審核</button></td>
            </form>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% elif user.is_authenticated and not user.is_superuser %}
<h2>此功能僅開放管理員喔！</h2>
<a href="/">回首頁</a>
{% else %}
<h2>請先登入！</h2>
{% endif %}
{% endblock %}
